.bash_history
.bash_logout
.bash_profile
.Xauthority
.cache/
.cargo/
.config/Code - OSS/
.config/GIMP/
.config/QDirStat/
.config/QtProject.conf
.config/QtProject/
.config/Thunar/
.config/atril/
.config/betterlockscreenrc
.config/cef_user_data/
.config/dconf/
.config/gtk-2.0/
.config/gtk-3.0/bookmarks
.config/mimeapps.list
.config/onlyoffice/
.config/oomox
.config/syncthing/
.config/texstudio/
.config/vlc/
.config/wallpaper.jpg
.config/xfce4/
.designer/
.gitconfig
.gnupg/
.icons/
.ipython/
.jupyter/
.keras/
.local/
.mozilla/
.nv/
.nvidia-settings-rc
.pki/
.pylint.d/
.python_history
.ssh/
.vscode-oss/
.zsh/
.zsh_history
desktop/
downloads/
docs/
data/
repos/
sync/
